/*.cancel {
	background: transparent;
	border: none;
	margin: 0;
	outline: none;
	text-decoration: underline;
	color: blue;
}
*/

#myDiv {
	width: 100%;
}

html, body {
	overflow-x: hidden;
}


/*#ordertable {
	display: none;
}*/

.join-reg {
	display: inline-block;
}

.new-order {
	border: 2px solid black;
	border-radius: 10px;
}

.enclosing {
	padding: 20px 20px;
}

.headings {
	font-family: 'Alegreya', serif;
	font-size: 30px;
	font-weight: bold;
}