/*.cancel {
	background: transparent;
	border: none;
	margin: 0;
	outline: none;
	text-decoration: underline;
	color: blue;
}
*/

#myDiv {
	width: 100%;
}

html, body {
	overflow-x: hidden;
}


/*#ordertable {
	display: none;
}*/

span {
	display: inline-block;
}

*/
.login-control {
	margin-right: 5px;
}